*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region DEBUG */

.debug .logo{
    background-color: red;
    width: 50px;
    aspect-ratio: 2 / 1;
}
.debug .menu-desktop{
    background-color: red;
    width: 300px;
    height: 25px;
}
.debug .menu-mobile{
    background-color: red;
    width: 50px;
    height: 25px;
}
.debug .card{
    height: 250px;
}
.debug .temporary{
    background-color: rgb(126, 192, 246);
    height: 400px;
}

/* #endregion DEBUG */



/* #region UTILITY */

body{
    font-family: sans-serif;
}

:root{
    --responsive-primary: #9593e6;
    --responsive-secondary: rgb(38, 117, 255);
    --responsive-column: rgb(187, 221, 250);
    --responsive-white: white;
    --responsive-slogan: rgb(255, 179, 0);
    --responsive-font-light: rgb(94, 94, 94);
}

.container{
    width: 90%;
    margin: 0 auto;
}
.container-footer{
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.d-flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.py-2{
    padding: 2rem 0;
}

.space-btw{
    justify-content: space-between;
}

.col{
    width: 100%;
}

[class*="col-"]{
    padding: .75rem;
}

.card{
    background-color: var(--responsive-column);
    border-radius: 1rem;
    padding: 1.25rem;
    height: 100%;
}

.text-center{
    text-align: center;
}

.planning, .benefits, .start{
    background-color: var(--responsive-primary);
}

.button{
    border: none;
    font-weight: 600;
    letter-spacing: 2px;
}

img{
    display: block;
    width: 100%;
}

.white{
    color: var(--responsive-white);
}

.dark{
    color: var(--responsive-font-light);
}

.background-white{
    background-color: var(--responsive-white);
}

.primary{
    color: var(--responsive-primary);
}

.background-primary{
    background-color: var(--responsive-primary);
}

.b-radius-2{
    border-radius: 2rem;
}

.italic{
    font-style: italic;
}

.uppercase{
    text-transform: uppercase;
}

.font-small{
    font-size: 0.65rem;
}

.pb-1{
    padding-bottom: 1.5rem;
}

.py-1{
    padding: 1.5rem 0;
}

.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
}


/* #endregion UTILITY */

/* #region HEADER */

#site_header{
    background-color: var(--responsive-secondary);
    position: fixed;
    width: 100%;
}

.menu-desktop{
    display: none;
}

.logo{
   padding: .5rem 0;
}

.menu-mobile{
    font-size: 25px;
    display: flex;
    align-items: center;
}

.menu-desktop{
    align-items: center;
}

.menu-desktop ul{
    list-style: none;
    gap: 1rem;
    align-items: center;

    & a{
        text-decoration: none;
    }
}

.button-nav{
    border: none;
    padding: 0.25rem 0.5rem 0.35rem;
    border-radius: 1rem;
    font-size: 12px;
    margin-left: 1rem;
}

/* #endregion HEADER */


/* #region MAIN */
#site-main{
    padding-top: 50px;
}
#site-main p,
#section-name,
#get-started{
        line-height: 1.5rem;
        font-size: 0.75rem;
}

    /* section .features */
    
    .features h3,
    .features .fa-solid{
        color: var(--responsive-secondary);
        padding-bottom: 1.5rem;
    }

    .button.app-store{
        background-color: var(--responsive-secondary);
        padding: .5rem 2.5rem;
        border-radius: 1.25rem;
        margin: 1.5rem 0;
    }

    .features #phone{
        margin-bottom: -1.25rem;
    }

    .features .fa-solid{
        font-size: 4rem;
    }

    /* section .planning */

    #strategic-planning{
        background-color: var(--responsive-primary);
    }

    .planning h2{
        padding-top: 4rem;
        padding-bottom: 2rem;
    }

    .planning h3{
        padding: 1rem 0;
    }

    .scroll-down{
        width: 50px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--responsive-primary);
        margin: 1.5rem auto 0.5rem;
        align-items: center;
        justify-content: center;
    }

    /* SECTION .TESTIMONIALS */

    .testimonials h2{
        color: var(--responsive-primary);
    }

    .testimonial{
        background-color: var(--responsive-primary);
        display: flex;
        flex-direction:column;
        align-items: center;
        padding: 1.5rem 1rem;
        margin: 1rem 0;
    }

    .testimonial-photo{
        overflow: hidden;
        border-radius: 50%;
        width: 160px;
        aspect-ratio: 1;
    }

    .testimonial-photo img{
        margin: 0 -25%;
        height: 100%;
        width: auto;
    }

    .message p{
        padding: 1rem 0;
        & i{
            font-size: 20px;
        }
    }
    .signature{
        font-size: 14px;
    }

    /* SECTION .BENEFITS */

    .number{
        font-size: 35px;
        font-weight: bold;
    }

    .button-more{
        padding: .5rem 0;
        border-radius: 1.25rem;
        width: 7rem;
        max-width: 100%;
    }

    /* SECTION ABOUT-US */

    .about-us-photo{
        width: 140px;
        aspect-ratio: 1;
    }

    .about-us-photo img{
        border-radius: 50%;
    }

    .quotes{
        top: 0;
        right: 0;
        z-index: 0;
        font-size: 3rem;
    }

    .about-us h3{
        font-weight: 600;
        line-height: 1.5rem;
    }

    .button-find-me{
        border: none;
        padding: 0.25rem 1rem 0.35rem;
        border-radius: 1rem;
        font-size: 12px;

    }

    /* SECTION START */

    .start h2{
        font-size: 2rem;
        color: var(--responsive-slogan);
    }

    .button-get-started{
        padding: 1rem 3rem;
        border-radius: 1.5rem;
        margin: 1.5rem 0;
    }






/* #endregion MAIN */


/* #region FOOTER */

.site-footer{
    background-color: rgb(44, 44, 44);
}

/* #endregion FOOTER */

/* #region MEDIA QUERY */


@media screen and (min-width: 480px){
    .col-md-8{
        width: calc(100% / 12 * 8);
    }

    .col-md-7{
        width: calc(100% / 12 * 7);
    }

    .col-md-6{
        width: calc(100% / 12 * 6);
    }

    .col-md-5{
        width: calc(100% / 12 * 5);
    }
    
    .col-md-4{
        width: calc(100% / 12 * 4);
    }

    #phone img{
        max-width: 200px;
    }

    .planning h2{
        font-size: 3.5rem;
    }

    .testimonial{
        flex-direction: row;
    }

    .testimonial-message{
        text-align: initial;
        padding: 0 1rem;
    }

    .about-us h2{
        font-size: 2.5rem;
    }
}  


@media screen and (min-width: 768px){
    .container{
        width: 65%;
        max-width: 1160px;
    }

    .lg-d-flex{
        display: flex;
        flex-direction: row;
    }

    .container-lg{
        width: 55%;
    }

    .menu-desktop{
        display: flex;
        font-size: 0.75rem;
    }

    .menu-mobile{
        display: none;
    }

    .col-lg-8{
        width: calc(100% / 12 * 8);
    }

    .col-lg-6{
        width: calc(100% / 12 * 6);
    }

    .col-lg-4{
        width: calc(100% / 12 * 4);
    }

    #phone{
        display: flex;
        align-items: flex-end;
    }

    #phone img{
        max-width: 400px;
    }

    #img-planning2{
        width: 50%;
        margin: auto;
    }

    .align-self{
        align-self: flex-end;
    }

    .planning h2{
        font-size: 1.5rem;
    }

    .testimonial-photo{
        width: 220px;
    }
}

/* media-query solo per abbellire img/phone.png nel passaggio tra viewport 768px e 1160px */
@media screen and (min-width: 1160px){
    .pr-xlg-2{
        padding-right: 2rem;
    }
}
/* #endregion MEDIA QUERY */