*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region DEBUG */

.debug .logo{
    background-color: red;
    width: 50px;
    aspect-ratio: 2 / 1;
}
.debug .menu-desktop{
    background-color: red;
    width: 300px;
    height: 25px;
}
.debug .menu-mobile{
    background-color: red;
    width: 50px;
    height: 25px;
}
.debug .card{
    height: 250px;
}
.debug .temporary{
    background-color: rgb(126, 192, 246);
    height: 400px;
}

/* #endregion DEBUG */



/* #region UTILITY */

body{
    font-family: sans-serif;
}

:root{
    --responsive-primary: rgb(125, 107, 214);
    --responsive-secondary: rgb(38, 117, 255);
    --responsive-column: rgb(181, 208, 255);
    --responsive-white: white;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
}

.d-flex{
    display: flex;
}

.space-btw{
    justify-content: space-between;
}

.col{
    width: 100%;
}

/* .col-md-8{
    width: calc(100% / 12 * 8);
}

.col-md-4{
    width: calc(100% / 12 * 4);
}

.col-lg-6{
    width: calc(100% / 12 * 6);
} */

[class*="col-"]{
    padding: 0.5rem;
}

.p-05{
    padding: 0.5rem;
}

.features, .planning, .testimonials, .benefits, .about-us{
    padding: 1rem 0;
}

.card{
    background-color: var(--responsive-column);
    border-radius: 1rem;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
}

.pb-125{
    padding-bottom: 1.25rem;
}

.text-center{
    text-align: center;
}

.planning, .benefits, .start{
    background-color: var(--responsive-primary);
}

img{
    display: block;
}

.button{
    border: none;
    margin: 1.5rem 0;
    font-weight: 600;
    letter-spacing: 2px;
}


/* #endregion UTILITY */

/* #region HEADER */

#site_header{
    background-color: var(--responsive-secondary);
}

.menu-desktop{
    display: none;
}

.logo{
   padding: 1rem 0;
}

.menu-mobile{
    font-size: 25px;
    display: flex;
    align-items: center;
}

/* #endregion HEADER */


/* #region MAIN */

#site-main p{
        line-height: 1.25rem;
        font-size: 0.75rem;
}

    /* section .features */
    
    .features h3,
    .features .fa-solid{
        color: var(--responsive-secondary);
        padding-bottom: 1.5rem;
    }

    .button.app-store{
        color: var(--responsive-white);
        background-color: var(--responsive-secondary);
        padding: .5rem 2.5rem;
        border-radius: 1.25rem;
    }

    .features #phone{
        margin-bottom: -1.25rem;
    }

    .features img{
        width: 100%;
        max-width: 250px;
    }

    .features .fa-solid{
        font-size: 4rem;
    }

    



/* #endregion MAIN */


/* #region FOOTER */

.site-footer{
    background-color: rgb(44, 44, 44);
}

/* #endregion FOOTER */

/* #region MEDIA QUERY */


/* @media screen and (max-width: 768px){
    
}  


@media screen and (max-width: 1400px){
    .menu-desktop{
        display: block;
    }
    .menu-mobile{
        display: none;
    }
} */

/* #endregion MEDIA QUERY */